.aboutPage.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding-left: 50px;
  padding-right: 25px;
  max-width: 1800px;
  margin: auto;
}

.aboutContainer {
  align-self: center;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  margin-right: 25px;
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 4rem;
}

.separator {
  background-color: var(--main-green);
  border-radius: 1000px;
  width: 195px;
  height: 10px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.aboutText {
  font-family: 'Averta', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.techContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  grid-column: 2 / -1;
  justify-self: center;
  align-self: center;
  padding: 0 15px;
  width: 100%;
}

.techHeader,
.softwareHeader {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
}

.techGrid,
.softwareGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 110px;
}

@media (max-width: 1300px) {
  .aboutPage .iconContainer > img {
    width: 50px;
    height: 50px;
  }

  .aboutPage .techIcon .technologyName {
    font-size: 1.3rem;
  }

  .aboutPage .techGrid {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-rows: 95px;
  }
}

@media (max-width: 1149px) {
  .aboutPage.page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 75px 110px;
  }

  .aboutContainer {
    margin: 0;
  }

  .techGrid {
    margin-bottom: 35px;
  }
}

@media (max-width: 1000px) {
  .aboutPage.page {
    padding: 50px;
  }

  .aboutContainer {
    padding: 50px;
  }
}
@media (max-width: 810px) {
  .aboutPage.page {
    padding: 25px;
  }

  .aboutContainer {
    padding: 25px;
  }

  .aboutPage h1,
  .aboutPage h2 {
    font-size: 3.5rem;
  }

  .aboutPage .separator {
    width: 175px;
    height: 8px;
  }

  .aboutText {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .aboutPage.page {
    padding: 5px;
  }

  .aboutContainer {
    padding: 10px;
  }

  .aboutPage h1,
  .aboutPage h2 {
    font-size: 3rem;
  }

  .aboutPage .separator {
    width: 150px;
    height: 6px;
  }

  .aboutText {
    text-align: center;
  }

  .aboutPage .iconContainer > img {
    width: 45px;
    height: 45px;
  }

  .aboutPage .techIcon .technologyName {
    font-size: 1.2rem;
  }
  .aboutPage .techGrid {
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    grid-auto-rows: 85px;
  }
}
