/* div className="contactPage page">
      <form action="" className="contactForm">
        <legend className="formHeader">
          <h1 className="contactHeader">Contact me</h1>
          <div className="separator"></div>
        </legend>
        <input type="text" name="name" id="name" />
        <input type="email" name="email" id="email" />
        <textarea name="message" id="message"></textarea>
      </form>
    </div> */

.contactPage {
  padding: 75px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 25px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 550px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contactPage h1 {
  font-weight: 600;
  font-size: 4.5rem;
}

.formHeader .separator {
  margin: 0;
  margin-right: auto;
  width: 260px;
}

.contactForm input,
.contactForm textarea {
  padding: 0 10px;
  font-size: 2rem;
  font-family: 'Averta', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  border-radius: 5px;
  border: 1px solid black;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: 1px solid var(--main-green);
}

.contactForm input {
  height: 4rem;
}

.contactForm textarea {
  padding: 5px 10px;
  resize: none;
  height: 200px;
}

.contactForm .buttonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 7.5px;
  margin: auto;
  width: 200px;
  height: 5rem;
  border: 2px solid black;
  border-radius: 5px;

  overflow: hidden;
}

.buttonContainer button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  height: 100%;
  font-family: 'Gilroy', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.buttonContainer > img {
  width: 30px;
  transition: 0.2s;
}

.buttonContainer .background {
  position: absolute;
  background-color: var(--main-green-opaque);
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.2s;
}

.buttonContainer:hover .background {
  transform: none;
}

.buttonContainer:hover {
  cursor: pointer;
}

.buttonContainer button {
  cursor: pointer;
}

.buttonContainer:hover > img {
  transform: rotate(45deg);
}

.personalLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.linksHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksHeaderContainer .separator {
  margin-bottom: 5px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 270px;
  transition: 0.3s;
}

.linkContainer:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.linkContainer > p {
  font-size: 2rem;
}

.linkContainer > .linkIcon {
  width: 50px;
  height: 50px;
}

@media (max-width: 1100px) {
  .contactPage {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    row-gap: 5px;
    padding: 75px 0;
  }

  .contactForm {
    align-self: center;
    justify-self: center;
    min-width: 700px;
  }

  .personalLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 900px) {
  .contactForm {
    min-width: 600px;
  }
  .personalLinks {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px;
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 810px) {
  .formHeader h1 {
    font-size: 3.5rem;
  }

  .formHeader .separator {
    width: 200px;
    height: 8px;
  }

  .linksHeaderContainer h1 {
    font-size: 3.5rem;
  }

  .linksHeaderContainer .separator {
    width: 150px;
    height: 8px;
  }

  .linkContainer > .linkIcon {
    width: 40px;
    height: 40px;
  }

  .linkContainer > p {
    font-size: 1.9rem;
  }
}
