header.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 75px;
  background-color: #fff;
  gap: 50px;
  height: 50px;
  z-index: 4;
}

header > div > p {
  font-size: 2rem;
  font-weight: 500;
}

header > div {
  padding: 7.5px 12.5px;
  border-radius: 1000px;
  transition: 0.3s;
  border: 2px solid transparent;
}

header > div:hover {
  border: 2px solid var(--main-green-opaque);
  cursor: pointer;
}

@media (max-width: 575px) {
  header.header {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }

  .header > div > p {
    font-size: 2.5rem;
  }
}
