/* <div className="projectsPage page">
      <div className="projectPageHeaderContainer">
        <h1 className="projectPageHeader">Projects</h1>
        <div className="separator"></div>
      </div>
      <Project />
      <Project />
    </div> */

.projectsPage {
  padding: 75px 100px;
}

.projectPageHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.projectPageHeader {
  font-size: 5rem;
  font-weight: 600;
}

.projectSection {
  display: flex;
  flex-direction: column;
  gap: 125px;
}
