.techIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.iconContainer > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.techIcon .technologyName {
  font-size: 1.5rem;
  text-transform: uppercase;
}
